
body {
    margin: 0;
    padding: 0;
}

#content {
    height: auto;
}

#footer {
    height: 100px;
    padding: 15px;
    background-color: #eee;
    text-align: center;
    margin-top: 20px;

    width:100%;
    box-sizing: border-box;
    margin-top: 100px;
}