body {
    margin: 0;
    padding: 0;
}

.search {
    max-width: 150px;
    margin: 0 auto;
}

#content {
    height: auto;
}

#footer {
    height: 100px;
    padding: 15px;
    background-color: #eee;
    text-align: center;
    margin-top: 20px;

    width:100%;
    box-sizing: border-box;
    margin-top: 100px;
}

/* paddings */
.padding-sm {
    padding: 15px;
}

/* margins */
.margin-top-lg {
    margin-top: 70px;
}

/********************************/
/********* Footer ***************/
/********************************/
#myFooter {
    background-color: #373a48;
    color: white;
    margin-top: 50px;
}

#myFooter .footer-copyright {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .myCols {
    text-align: center;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

html {
    height: 100% !important;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}